doctype html
html(lang="en", ng-app="chatLoginApp")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Dojo Chat
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
  body
    div(class="container")
      div(class="row")
        div(ng-view)
    script(type="text/ng-template", id="view/login.html")
      div(class="col-md-6")
        h1 Login
        form(ng-controller="loginCtrl")
          div(class="control-group", style="margin-bottom:12px")
            label(class="control-label") Username
            input(class="form-control", type="text", name="username", ng-model="loginForm.username")
          div(class="control-group", style="margin-bottom:12px")
            label(class="control-label") Password
            input(class="form-control", type="password", name="password", ng-model="loginForm.password")
          div
            button(class="btn btn-primary", ng-click="submit()") Login
      div(class="col-md-6", ng-controller="registerCtrl")
        h1 Register
        p If you do not already have an account then use the Register button below to create a new account.
        button(class="btn btn-default", ng-click="submit()") Register
  script(src="https://code.jquery.com/jquery-1.12.0.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js")
  script(src="/js/login.js")
  script(src="/js/services.js")