doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Dojo Chat | Set Password
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
  body
    div(class="container")
      div(class="row")
        h1 Registration
        form
          div(class="control-group", style="margin-bottom:12px")
            label(class="control-label") Full name
            input(class="form-control", type="text", name="fullName")
          div(class="control-group", style="margin-bottom:12px")
            label(class="control-label") Nickname
            input(class="form-control", type="text", name="nickname")
          div(class="control-group", style="margin-bottom:12px")
            label(class="control-label") E-mail address
            input(class="form-control", type="text", name="emailAddres")
          div
            button(class="btn btn-primary") Register
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")