doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title = Dojo Chat registration
  body
    p Hi #{nickname},
    p 
      | Click on this 
      a(href="http://chat.coderdojowarehouse.com:8080/set_password.html/token=#{token}") link 
      | to complete your Dojo Chat registration.